<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bds.vue.dao.BillDao">
    <insert id="addBill" parameterType="map">
      insert into tb_bill
      (bill_id,order_no,promoter_id,joiner_id,bill_money,bill_status,info,create_time,order_money)
      values
      (#{bill_id},#{order_no},#{promoter_id},#{joiner_id},#{bill_money},#{bill_status},#{info},#{create_time},#{order_money})
    </insert>

    <delete id="deleteBillByOrderNo">
        delete from tb_bill where order_no = #{param1}
    </delete>

</mapper>