<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bds.vue.dao.TableDao">
    <select id="getAll" resultType="table">
        select * from tb_table_header
        <where>
            <if test="_parameter!=null and _parameter!=''">
                info = #{_parameter}
            </if>
        </where>

    </select>

    <select id="getCount" resultType="Int">
        select count(0) from tb_table_header
        <where>
            <if test=" info!=null and info!='' ">
                info = #{info}
            </if>
        </where>
    </select>
</mapper>