<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bds.vue.dao.UserDao">
<!--没有条件的查询权限菜单树-->
    <select id="getAll" resultType="User">
        select * from user
    </select>

    <select id="getCount" resultType="Int">
        select count(0) from user
    </select>
</mapper>