<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bds.vue.dao.UserDao">
    <select id="getAll" resultType="User">
        select * from user where user_no = #{param1}
    </select>

    <select id="getCount" resultType="Int">
        select count(0) from user
    </select>
    
    <select id="queryInfo" parameterType="Map" resultType="Map">
        SELECT u.*,r.role_name as role_name
        FROM `user` u LEFT JOIN tb_role r ON u.role_id = r.id
        <where>
            1=1
            <if test="user_name!=null and user_name!=''">
                AND user_name LIKE CONCAT('%',#{user_name},'%')
            </if>
            <if test="user_no!=null and user_no!=''">
                AND user_no = #{user_no}
            </if>
            <if test="card_id!=null and card_id!=''">
                AND card_id = #{card_id}
            </if>
        </where>
        order by create_time desc
    </select>
    <insert id="addUser" parameterType="map">
      insert into user
      (user_no,user_name,password,sex,card_id,email,tel,hobby,role_id,create_time,info)
      values
      (#{user_no},#{user_name},#{password},#{sex},#{card_id},#{email},#{tel},#{hobby},#{role_id},#{create_time},#{info})
    </insert>
    <update id="updateUser" parameterType="map">
        update user set
            user_no=#{user_no},
            user_name=#{user_name},
            password=#{password},
            sex=#{sex},
            card_id=#{card_id},
            email=#{email},
            tel=#{tel},
            hobby=#{hobby},
            role_id=#{role_id},
            create_time=#{create_time},
            info=#{info}
        where id = #{id}
    </update>
    <delete id="deleteUser"  parameterType = "list">
        delete from user where id in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >#{item}
        </foreach>
    </delete>
</mapper>